* {
	box-sizing: border-box;
}

body {
	background-color: #eaeaea;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	margin: 0.25em;
		overflow-x: hidden;
}

.background {
	width: 100%;
}

.green {
	width: 100%;
	margin-top: 135%;
}

.character {
	width: 100%;
}

.coming-soon {
	font-size: 43px;
	color: #194B2E;
	font-family: 'ABeeZee', sans-serif;
	margin-top: 85%;
	margin-left: 7em;
}

.big-title {
	font-size: 100px;
	color: white;
	margin-left: 3em;
	font-family: 'Black Han Sans', sans-serif;
	text-shadow: 5px 5px #194B2E;
}

h2 {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 70px;
	color: #FFB83C;
}

.title {
	margin-top: 145%;
	margin-left: 4em;
}

.storyline-description {
	width: 900px;
	font-size: 22px;
	color: white;
	font-family: 'ABeeZee', sans-serif;
	margin-left: 13em;
}

.character-title {
	margin-top: 120%;
	margin-left: 4em;
}


/* Paralax */

.parallax-layer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 127%;
}

/* video play */
.play-button {
  width: 152px;
  height: 152px;
  position: relative;
  cursor: pointer;
	margin-top: 50%;
	margin-left: 45%;
}

.play-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.play-close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: calc(100% + 15px);
  border: none;
  outline: none;
  background: none;
  opacity: 0;
  cursor: pointer;
}

.play-close::before,
.play-close::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg);
  background-color: #fff;
}

.play-close::after {
  transform: rotate(-45deg);
}

.play-circles {
  display: block;
  width: 100%;
  height: 100%;
}

.play-perspective {
  width: 600px;
  height: 400px;
  position: absolute;
  left: -230px;
  top: -125px;
}

.play-triangle {
  width: 600px;
  height: 400px;
  background-color: black;
  cursor: pointer;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

.mySlides img{
	padding: 2em;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #194B2E;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #FFB83C;
	border-radius: 50%;
}

/* Caption text */
.text {
  color: #184C2E;
  font-size: 21px;
  padding: 8px 12px;
  position: absolute;
  bottom: 18px;
  width: 90%;
  text-align: left;
	font-family: 'ABeeZee', sans-serif;
	padding-left: 35em;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
